@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'monument';
  src: url('/assets/fonts/MonumentExtended-Regular.otf') format('truetype');
}

.monument {
  font-family: 'monument', sans-serif;
}
